div.col{
    margin: 0px;
    padding: 0px;
}
.row{
    height: 100vh;
}
.header{
    background-color: #464752;
    display: inline-flex;
    width: 100%;
}
.header > h3{
    flex: 10;
    color: white;
}
.header > button{
    flex: 1;
}

.img-container{
    width: 100%;
    height: 65vh;
    vertical-align: middle;
}
.controls{
    /* margin-top: -80px; */
}
.controls > button{
    font-size: 30px;
    width: 55px;
    height:55px;
    background-color: aquamarine;
}
.info{
    border-radius: 1rem;
    min-height: 15vh;
    text-align: justify;
    transition-property: all;
    transition-delay: 200ms;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-duration: 1.2s;
    z-index: 3;
    margin: 0.5rem;
    position: absolute;
    width: 73.66666667%;
    margin-left: calc((100% - 98%) / 2);
    overflow-y: auto;
}
.info-mobile{
    width: 98%;
}
.predictions{
    overflow-y: hidden;
    overflow-x: auto;
    height: 50px;
    width: 100%;
}
.predictions::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.predictions::-webkit-scrollbar-corner {
    background: none;
}
.predictions::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #a3d4fc63;
}
.predictions::-webkit-scrollbar-track {
    opacity: 0;
}
.predictions span{
    background-color: rgba(223, 223, 223, 0.219);
    border: 2px solid gray;
    border-radius: 1rem;
    padding:3px;
    padding-inline: 10px;
    width: fit-content!important;
    flex: unset!important;
    transition-property: all;
    transition-delay: 20ms;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-duration: 0.1s;
    cursor: pointer;
}
.predictions span:hover{
    background-color: rgb(155, 155, 155);
}
.predictions span[selected=true]{
    background-color: rgb(155, 155, 155);
}
.predictions > .items{
    display: block;
    height: 30px;
    width: max-content;
}
#btn-info-slide{
    margin-top: -20px!important;
    width: 100%;
    transition-property: all;
    transition-delay: 500ms;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-duration: 1.5s;
}
.info-header{
    display: inline-flex;
    width: 100%;
}
.info-header > h3{
    flex: 10;
}
.info-header > button{
    flex: 1;
}

.comment{
    border: 1px solid rgba(190, 190, 190, 0.274);
    border-radius: 12px;
}
.comment-header{
    width: 100%;
    vertical-align: middle;
    align-items: center;
}
.comment-header > img.comment-avatar{
    /* flex: 1; */
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 2px solid gray;
}
.comment-header > h5{
    padding-inline: 5px;
    margin: 0px;
    /* flex: 6; */
}
.comment-header > span{
    padding-inline: 5px;
    /* flex: 5; */
}
.inputbox-link {
    position: absolute;
    z-index: 5;
    top: 10%;
    right: 6%;
    width: 85%;
    background-color: #545858;
}
.inputbox-link > input{
    width: 100%;
    background-color: #585a5a!important;
    border: 1px solid gray;
}
#bodyContent{
    background-color: #424242;
    color: white;
}
table{
    color: black;
}
iframe{
    border: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 80%;
}
